@import "./_variables.scss";

.header3 {
    position: relative;

}
.h3photoGrid {
    display: flex;
    flex-direction: row;
}

.h3column1 {
    width: 100%;
}

.h3column2 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.imageBlock {
    filter: brightness(0.7);
}

.imageBlock:hover {
    filter: brightness(1);
    transition: 0.3s;
}

.h3images {
    width: 100%;
    height: 100%;

}

.photoGridText {
    z-index: 3;
    position: absolute;
    font-family: $mainFont;
    color: $secondaryYellow; 
    font-style: italic;
}

#column1Text {
    font-size: 3rem;

}
