@import "./_variables.scss";

.header3 {
  position: relative;
  background-color: $mainBlue;
}

.entireBlock {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.h3photoGrid {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.photoGridText {
  z-index: 3;
  position: absolute;
  font-family: $mainFont;
  color: $secondaryYellow;
  font-weight: bold;
  margin: 5%;
}

.h3column1 {
  width: 100%;
  font-size: 3rem;
}

.h3column2 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.h3images {
  width: 100%;
  filter: brightness(0.7);
  transition: 0.3s;
}

.h3images:hover {
  filter: brightness(1);
}

.h3textBlock {
  font-family: $mainFont;
  display: inline-block;
  color: $mainYellow;
  width: 100%;
}

#h3Body {
  display: none;
}

#h3learnMore {
  display: none;
}

#h3title {
  color: $mainPink;
  font-size: 4rem;
  margin-top: 1.5rem;
  text-align: right;
}

@media (min-width: 400px) {
  // .entireBlock {
  //   display: flex;
  //   flex-direction: column;
  // }
}

@media (min-width:550px) {
  .entireBlock {
    display: flex;
    flex-direction: row-reverse;
  }
  

  .h3textBlock {
    display: inline-block;
    color: $mainYellow;
    margin: auto;
    margin-right: 8%;
    min-width: 17rem;
    max-width: 20rem;
  }
  
  #h3title {
    font-size: 3rem;
    text-align: right;
    vertical-align: center;
    margin-bottom: 1rem;
  }

  #h3Body{
    display: inline-block;
    text-align: right;
    font-size: 1.5rem;
  }

  .learnMore {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: $mainFont;
    color: $secondaryPink;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    float: right;
  }

.learnMore:hover {
  color: $mainPink;
  transition: ease-in 0.3s;
}

  .learnMore:hover #learnMoreP2 {
    display: inline;
  }

  #learnMoreP2 {
    margin-left: 1rem;
    display: none;
  }
}

@media (min-width: 700px) {
  .h3textBlock {
    min-width: 30rem;
    max-width: 50rem;
  }

#h3title {
  font-size: 4rem;
}

  #h3Body {
    font-size: 1.7rem;
  }
}

@media (min-width: 1000px) {
  .entireBlock {
    padding: 6%;
  }
  
  .h3textBlock {
    min-width: 70rem;
  }

  #h3title {
    font-size: 5rem;
  }

  #h3Body {
    font-size: 2.4rem;
  }
}
